$ion-stable: #f8f8f8;
$ion-positive: #387ef5;
$ion-calm: #11c1f3;
$ion-balanced: #33cd5f; // green
$ion-energized: #ffc900; // yellow
$ion-assertive: #ef473a; // red
$ion-royal: #886aea; // purple
$ion-dark: #444;
$sw-bg: #ef4023;
$sw-fg: #fff;
$ex-bg: #e31836;
$ex-fg: #fff;

$green: $ion-balanced;
$grey: #BDBDBD;
$light-grey: lighten($grey, 15%);
$white: #fff;
